alembic
boto3
passlib
fastapi
gunicorn
jinja2
passlib
psycopg2
psycopg2-binary
pybites-carbon
python-decouple
python-jose
python-multipart
sendgrid
sqlmodel
streamlit
# dev
black
flake8
httpx
mypy
pre-commit
pytest
pytest-cov
pytest-env
uvicorn
