html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px; /* Margin bottom by footer height */
}
a {
  color: #343a40;
}
.footer {
  position: absolute;
  bottom: 0;
  font-size: 85%;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer a {
  text-decoration: underline;
}
footer {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
h2 {
  font-size: 110%;
}
.navbar {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.card {
  border: none;
}
@media (min-width: 768px) {
  .card {
    max-width: 33%;
  }
}
.inner-card {
  margin: 10px 0 10px 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.lastCol {
  margin-right: 20px;
}
.tip-icons {
  float: right;
}
.icon {
  width: 20px;
  margin-left: 5px;
}
.card-body {
  margin-top: 5px;
  padding: 0px;
  overflow: hidden;
}
.tip-code {
  display: none;
}
.card-text {
  white-space: pre-wrap;
  margin: 10px 0;
  float: left;
}
.meta {
  clear: both;
  float: left;
}
#darkMode {
  z-index: 999;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
#darkMode .toggle-on {
  background-color: #343a40;
  border: 1px solid #ccc;
}
.toggle-group {
  background: #fff;
  border: 1px solid #ccc;
  border-left: 2px solid #ccc;
}
