<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <title>CodeImag.es</title>
  </head>
  <body class="box">
    <div id="darkMode">
      <input id="toggleDarkMode" type="checkbox" data-toggle="toggle" data-on="Dark Mode: On" data-off="Dark Mode: Off">
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CodeImag.es</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="docs#/default/signup_users_post" target="_blank">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="redoc" target="_blank">API Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://gist.github.com/bbelderbos/27717eef2dcb56d1fb519798df33193c" target="_blank">Post Snippet Script</a>
          </li>
        </ul>
        <form action="/search" method="post" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search code snippets" aria-label="Search" id="term" name="term" value="{{term}}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="row">

      {% for tip in tips %}
        <div class="col-sm card box">
          <div class="inner-card{% if loop.index % 3 == 0 %} lastCol{% endif %}">
            <h2>{{ tip.title }}</h2>
            <img class="card-img-top" src="{{tip.url}}" alt="{{tip.title}}">
            <div class="card-body">
              <p class="card-text">{{tip.description}}</p>
              <div>
                <span class="badge badge-info">{{ tip.user.username }}</span>
                <span class="badge badge-secondary">{{ tip.language }}</span>
              </div>
            </div>
          </div>
        </div>

        {% if loop.index % 3 == 0 %}
          </div><div class="row">
        {% endif %}

      {% endfor %}

    </div>

    <footer class="footer">
      <div class="container">
        <p>&copy; CodeImag.es is &lt;&gt; with <span style="color: #e25555;">&hearts;</span> by <a href="https://pybit.es/" target="_blank">PyBites</a>
        | Images generated with <a href="https://carbon.now.sh/" target="_blank">Carbon</a> <span style="color: #e25555;">&hearts;</span>
        | Prefer command line? <a href="https://github.com/PyBites-Open-Source/pybites-carbon" target="_blank">PyBites Carbon</a>
        | Feedback? <a href="mailto:support@pybit.es?subject=Please%20help">Email us</a>
      </div>
    </footer>

    <script src="{{ url_for('static', path='/js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/bootstrap-toggle.min.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
  </body>
</html>
