<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>CodeImag.es</title>
    <style>
    h2 {
      font-size: 100%;
    }
    .navbar {
      margin-bottom: 20px;
    }
    .card {
      border: none;
    }
    .inner-card {
      margin: 10px 0 10px 20px;
      padding: 20px;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
    }
    .lastCol {
      margin-right: 20px;
    }
    .card-text {
      white-space: pre-wrap
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CodeImag.es</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="docs#/default/create_tip_create_post">Add code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="docs#/default/signup_users_post">Sign up</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="row">

      {% for tip in tips %}
        <div class="col-4 card">
          <div class="inner-card{% if loop.index % 3 == 0 %} lastCol{% endif %}">
            <h2>{{ tip.title }}</h2>
            <img class="card-img-top" src="{{tip.url}}" alt="{{tip.title}}">
            <div class="card-body">
              <p class="card-text">{{tip.description}}</p>
              <div>
                <span class="badge badge-info">{{ tip.user.username }}</span>
                <span class="badge badge-secondary">{{ tip.language }}</span>
              </div>
            </div>
          </div>
        </div>

        {% if loop.index % 3 == 0 %}
          </div><div class="row">
        {% endif %}

      {% endfor %}

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
